
#backgroundImage {
  position: fixed;
  z-index: -1;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  top: 0px;
 }

 #backgroundImage img {
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
 }
 


.column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  .column img {
    opacity: 0.8;
    cursor: pointer;
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .container {
    position: relative;
    display: none;
  }
  
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }
  body {
    background: repeat-x left top rgb(221, 196, 196); font: 12px/19px Trebuchet MS; margin: 0px; padding: 0px; text-align: center; color: rgb(250, 248, 248); font-size-adjust: none; font-stretch: normal;
   
  }
  @keyframes reveal {
    to {
      opacity: 1;
    }
  }
  
  .shuffle {
    min-height: 200vh;
    position: relative;
  }
  
  .shuffle img {
    width: 45%;
    opacity: 0;
  }
  
  .expose img {
    animation: reveal 1s forwards;
  }
  
  .expose img:nth-child(1) {
    animation-delay: 1s;
  }
  
  .expose img:nth-child(2) {
    animation-delay: 2s;
  }
  
  .expose img:nth-child(3) {
    animation-delay: 3s;
  }
  
  .expose img:nth-child(4) {
    animation-delay: 4s;
  }
  
  .expose img:nth-child(5) {
    animation-delay: 5s;
  }
  
  .expose img:nth-child(6) {
    animation-delay: 6s;
  }
  div.webanim img {
    border: 1.4vw solid rgb(110, 115, 115);
  }
  
  body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    line-height: 1.4;
    padding: 0 20px;
  }
  
  main {
    width: 1024px;
    margin: 0 auto !important;
  }
  
  .component {
    float: right;
    border-left: solid 1px #444;
    margin-left: 20px;
  }
  
  @media (max-width: 800px) {
    body {
      line-height: 1.2;
    }
  
    .component {
      float: none;
      margin: 0;
    }
  }
  
  a:hover {
    color: lightgreen;
  }
  
  @keyframes exampleAnimation {
    from {
      color: blue;
    }
  
    20% {
      color: orange;
    }
  
    to {
      color: green;
    }
  }
  
  code {
    color: firebrick;
  }

  /* Popup box for submit */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}


.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}